<div th:replace="sharedClient/layout :: layout('Welcome to Flight Management', ~{::section}, ~{::ol.breadcrumb})">
    <section>
        <main id="main" class="main">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a  >Flights</a></li>
                <li class="breadcrumb-item active">List</li>
            </ol>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">List of Flights</h5>

                <!-- Button to add a new flight -->


                <!-- Alert when there are no flights in the system -->
                <div class="row col" th:unless="${flights != null && flights.size() > 0}">
                    <div class="alert alert-warning" role="alert">
                        <strong>There are no flights in the system!</strong>
                    </div>
                </div>

                <!-- Table displaying the list of flights -->
                <table class="table table-hover" th:if="${flights != null && flights.size() > 0}">
                    <thead>
                    <tr>
                        <th scope="col">Flight Number</th>
                        <th scope="col">origin</th>
                        <th scope="col">Destination</th>
                        <th scope="col">Departure Time</th>
                        <th scope="col">Arrival Time</th>
                        <th scope="col">(Action)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="flight : ${flights}" th:object="${flight}">
                        <td th:text="*{flightNumber}"></td>
                        <td th:text="*{origin}"></td>
                        <td th:text="*{destination}"></td>
                        <td th:text="*{departureTime}"></td>
                        <td th:text="*{arrivalTime}"></td>
                        <td>
                            <a th:href="@{/client/{id}/details(id=*{id})}" class="btn btn-secondary btn-sm">Details</a>
                            <a th:href="@{/client/{id}/create(id=*{id})}" class="btn btn-primary btn-sm">Create Reservation</a>

                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- End Table with hoverable rows -->

            </div>
        </div>
        </main>
    </section>
</div>
