<div th:replace="shared/layout :: layout('Welcome to My Page', ~{::section}, ~{::ol.breadcrumb})">

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/flights}">Flights</a></li>
    <li class="breadcrumb-item active">Delete</li>
</ol>
<section>
    <main id="main" class="main">

<th:block th:replace="~{/drivers/details.html::#driverDetails}"></th:block>
<div class="row">
    <div class="col">
        <form method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
</main>
</section>
</div>